* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background-color: #333;
}

@media only screen and (hover:none) and (pointer: coarse) {

  input,
  select,
  textarea {
    font-size: 11px !important;
  }

  input:focus,
  select:focus,
  textarea:focus {
    font-size: 16px !important;
  }
}